.base-node {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
}

.base-node__highlight {
  border: 1px solid #cccccc;
}

.base-node_drag-icon {
  cursor: grab;
  will-change: opacity;
  transition: opacity 0.5s var(--easeOutQuart);
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.5;
    cursor: grabbing;
  }
}

.base-node_content {
  // flex: 1;
}

.base-node_actions {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  will-change: opacity;
  transition: opacity 0.5s var(--easeOutQuart);

  &:hover {
    opacity: 0.5;
  }
}
