.base-node {
  // display: flex;
  // align-items: center;
  // position: relative;
  // z-index: 1;
  // border-radius: 10px;
  // border: 1px solid transparent;
}

.base-node__inner__content {
  position: relative;
}

.base-node__highlight {
  border: 1px solid #cccccc;
}

.base-node__drag-icon {
  cursor: grab;
  will-change: opacity;
  transition: opacity 0.5s var(--ease-out-quart);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;

  &:hover {
    opacity: 0.5;
    cursor: grabbing;
  }
}

.base-node__drag-icon span {
  display: inline-flex;
  // width: 16px;
  height: 16px;
}

.base-node__actions {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
  will-change: opacity;
  transition: opacity 0.5s var(--ease-out-quart);

  &:hover {
    opacity: 0.5;
  }
}

.base-node__handle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  background-color: transparent !important;
  border-color: transparent !important;
  z-index: 4;

  :global {
    .react-flow__handle {
      position: relative !important;
    }
  }
}
