.sidebar {
  --border: 1px solid rgba(0, 0, 0, 0.1);

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  .sidebar__left {
    width: 20%;
    max-height: 100%;
    border-right: var(--border);
    overflow-y: auto;

    .sidebar__left__inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .sidebar__right {
    position: relative;
    border-right: var(--border);
    width: 80%;
    max-height: 100%;
    height: 100%;
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;

    .sidebar__right__inner {
      width: 100%;
      height: 100%;
      max-width: 100%;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
    }
  }

  &.sidebar--left {
    .sidebar__left {
      order: 1;
    }

    .sidebar__right {
      order: 2;
    }
  }

  &.sidebar--right {
    .sidebar__left {
      order: 2;

      .sidebar__left__inner {
        border-right: none;
        border-left: var(--border);
      }
    }

    .sidebar__right {
      order: 1;

      .sidebar__right__inner {
        border-right: none;
        border-left: var(--border);
      }
    }
  }
}
