.lego {
  position: relative;
  width: max-content !important;
  height: 41.5px;

  &:before {
    content: '';
    position: absolute;
    top: -0.7px;
    left: 42px;
    width: calc(100% - 42px);
    height: 41.5px;
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--border-color);
    border-left: none;
    background-color: var(--background-color);
    pointer-events: none;
    user-select: none;
  }

  &.lego--disabled {
    opacity: 0.5;
  }

  &.lego--dynamic {
    height: max-content;

    &:before {
      height: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -0.5px;
      transform: translateY(-50%);
      width: 100%;
      height: calc(100% - 20px);
      border-left: 1px solid var(--border-color);
      background-color: var(--background-color);
      pointer-events: none;
      user-select: none;
    }

    .lego__body {
      align-items: flex-start;
    }

    .lego__content {
      padding-top: 0.1em;
    }

    .lego__stud.lego__stud--bottom {
      display: block;
    }
  }

  .lego__stud {
    position: absolute;
    top: -1px;
    left: -1px;

    &.lego__stud--bottom {
      top: auto;
      bottom: -11px;
      display: none;
    }

    svg {
      path {
        fill: var(--background-color);
        stroke: var(--border-color);
        stroke-width: 1px;
        stroke-opacity: 1;
      }
    }
  }

  .lego__icon {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 20px;
      width: 20px;
      fill: var(--background-color);
      stroke: var(--border-color);

      path {
        fill: var(--background-color);
        stroke: var(--border-color);
        stroke-width: 1px;
        stroke-opacity: 1;
      }
    }
  }

  .lego__content {
    // padding: 8px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
  }

  .lego__body {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 100%;
    padding: 8px 12px;
    z-index: 2;
    position: relative;
  }
}
